<div class="room">
    <header>
        <span class="location">{{ .Title }}</span>
        {{ if isset .Params "language" }}
            {{ if eq .Params.language "english" }}
            <span>🇬🇧</span>
            {{ end }}
            {{ if eq .Params.language "love" }}
            <span>❤️</span>
            {{ end }}
        {{ end }}
    </header>
    <div class="sessions">
        {{ range .Pages }}
            {{ .Render "program-li" }}
        {{ end }}
        {{ with .Content }}
        <div class="talk">
            <div class="slot">
                <div class="description">
                    <h4>{{ . }}</h4>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>