{{ define "main" }}
<article>
    <div class="header-join">
      <h1>{{- .Title -}}</h1>
    </div>
    {{- .Content -}}
    {{ $talks := getCSV "," "https://docs.google.com/spreadsheets/d/1P62GE4fliCyUlULG7bQGVMVr4FCF7vQ4m-xM-ub0INk/export?format=csv" }}
    
    {{ range $index, $r := $talks }}
    {{ if not (eq $index 0) }}
    <div class="row talk">

        <div class="col-8">
          <h4>
            {{ index $r 5 }}
          </h4>
      
          <p class="muted">
            {{ index $r 4 }} - Suggested by {{ index $r 2 }}
          </p>
      
          <p>
            {{ index $r 6 | markdownify }}
          </p>
      
        </div>
      </div>
      {{end}}
    {{end}}
    {{ if .Site.Params.CfpOpen }}
    <p>Missing anything?
        <br/><a href="/info/cfp">Suggest your own talk!</a>
      </p>
      {{ end }}
  </article>
{{end}}