<div id="sponsor-area">
    {{ $partners := .Site.GetPage "/partners" }}
    <ul class="sponsorlogos">
        {{ range  $partners.Resources.Match "logos/*"  }}
        {{ $image := .Fit "240x120" }}
        <li>
            <a target="_blank" title="{{ .Title }}" href="{{ .Params.url }}"><img alt="{{ .Title }}"
                    src="{{ $image.RelPermalink }}"  width="{{ $image.Width }}" height="{{ $image.Height }}"></a>
        </li>
        {{ end }}
      </ul>
    <p><a class="nav-link" href="/info/become-a-partner/">Become one of our partners!</a></p>
</div>
<footer>
    <h2 id="footer-text">You are awesome.<br>Hope to see you soon!</h2>
    <p>Looking down here for our organisational info? We are <a href="https://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997448243">Foreningen Boosterkonferansen (org.nr. 997 448 243)</a>.</p>
</footer>