<header id="main-header" role="banner">
    <nav id="main-nav" role="navigation" aria-label="Main">
        <div id="booster-logo">
            <a tabindex="0" href="{{ .Site.Home.RelPermalink }}"><img src="/images/booster_logo.svg"></a>
        </div>
        
        <details id="thin-menu">
            <summary>
                <div class="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </summary>
            <nav class="main-menu">
                {{ if .Site.Menus.main }}
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <li class="nav-item{{if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }} current{{end}}"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            </nav>
        </details>

        <nav id="wide-menu" class="main-menu">
            {{ if .Site.Menus.main }}
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="nav-item{{if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }} current{{end}}"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}
        </nav>
    </nav>
  
  </header>
