<header id="main-header" role="banner">
    <nav id="main-nav" role="navigation" aria-label="Main">
        <div id="booster-logo">
            <a tabindex="0" href="{{ .Site.Home.RelPermalink }}"><img src="https://2019.boosterconf.no/assets/icons/booster_logo-5949bc83ab4420a24d82b71aef43f34f8b595a475471da5893da4182e824f787.svg"></a>
        </div>
        <input type="checkbox" id="main-menu-toggle" style="display: none;"/>
        <label for="main-menu-toggle" class="dropdown">
            <span class="hamburger">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </span>
        </label>
        <ul class="main-menu">
            {{ if .Site.Menus.main }}
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="nav-item{{if $currentPage.IsMenuCurrent "main" . }} current{{end}}"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </nav>
  
  </header>
