{{ define "main" }}
<style>
    .sz-powered-by {
        display: none !important;
    }
    .sessionize-wrapper {
        margin-top: 1em;
    }
</style>
<article>
    <h1>Talks</h1>
    <p>We're excited to present this year’s sessions! The conference will feature workshops focused on hands-on learning, 10-minute lightning talks on emerging trends, and 30-minute experience reports offering in-depth insights. <b>The full schedule will be published soon</b>.</p>
{{ if isset .Params "embed_url" }}
    {{ with resources.GetRemote .Params.embed_url }}
        {{ with .Err }}
            {{ errorf "%s" . }}
        {{ else }}
            {{  .Content | safe.HTML }}
        {{ end }}

    {{ else }}

    {{ end }}
{{ end }}
</article>
{{end}}