<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="title" content="Booster Conference 2025">
    <meta name="description" content="Booster Conference, The Software Conference for the Whole Team">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:title" content="Booster Conference 2025">
    <meta property="og:description" content="Booster Conference, The Software Conference for the Whole Team">
    <meta property="og:image" content="{{ .Site.BaseURL }}images/workshops.jpg">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">
    <meta property="twitter:title" content="Booster Conference 2025">
    <meta property="twitter:description" content="Booster Conference, The Software Conference for the Whole Team">
    <meta property="twitter:image" content="{{ relURL "images/workshops.jpg" }}">
    
    <link rel="stylesheet" href="{{ relURL "css/main.css" }}?{{ now.Unix }}">
    <link href="{{ relURL "css/fontawesome/css/all.css" }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ relURL "images/favicon.ico" }}" type="image/x-icon">
    <body>
        <div class="tv">
            {{ with .GetPage "/program" }}

            <!-- Days -->
            {{ range .Pages }}
            <div class="tv-day" data-day="{{ .Params.Title }}"> 
                <h1>{{ .Title }}</h1>

                <!-- Time slots -->
                <div class="tv-timeslots">
                {{ range .Pages }}
                <div class="tv-timeslot" data-time="{{ .Params.time }}">
                    <div class="tv-timeslot-info">
                        <span class="tv-timeslot-time">{{ .Params.time }}:</span>
                        <span class="tv-timeslot-title">{{ .Title }}</span>
                        {{ if .Param "location" }}
                        <br>
                        <span class="location">{{ .Params.location }}</span>
                        {{ end }}
                    </div>

                    <!-- Rooms -->
                    <div class="tv-rooms">
                    {{ range .Pages }}
                    {{ if eq .Params.type "talk" }}
                        <div class="tv-room">
                            <ul class="tv-talks">
                                <li class="tv-talk">
                                    <div>
                                        <span>{{ .Title }}</span>
                                        <br>
                                        <i>{{ delimit .Params.authors ", " }}</i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {{ else }}
                        <div class="tv-room">
                            <h2>
                                {{ .Title }}
                                {{ if eq .Params.language "english" }}
                                <span>🇬🇧</span>
                                {{ end }}
                                {{ if eq .Params.language "love" }}
                                <span>❤️</span>
                                {{ end }}
                            </h2>

                            <!-- Talks -->
                            <ul class="tv-talks">
                            {{ range .Pages }}
                            <li class="tv-talk">
                                <div>
                                    <span>{{ .Title }}</span>
                                    {{ with .Params.paramname }}
                                    <br>
                                    <i>{{ delimit . ", " }}</i>
                                    {{ end }}
                                </div>
                            </li>
                            {{ end }}
                            {{ if eq (len .Pages) 0 }}
                            <li class="tv-talk">
                                <div>
                                    <i>{{ .Content }}</i>
                                </div>
                            </li>
                            {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                    {{ end }}
                    </div>
                </div>
                {{ end}}
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </body>

    <script>
        // Must be updated for future conferences!
        const FIRST_DAY = new Date("2025-03-26");

        /** Checks if "wednesday", "thursday" or "friday" is present in the string,
         *  which is more resilient than exactly parsing the string;
         *  it would break if the title of the day changed slightly */
        function parseDate(dateString) {
            const MSEC_IN_DAY = 24 * 60 * 60 * 1000;
            let date = new Date(FIRST_DAY);
            if (dateString.toLowerCase().includes("thursday")) {
                date = new Date (date.getTime() + MSEC_IN_DAY);
            } else if (dateString.toLowerCase().includes("friday")) {
                date = new Date (date.getTime() + MSEC_IN_DAY * 2);
            }
            return date;
        }

        function parseTime(timeString, day) {
            const parts = timeString.split(" ")[0].split(":");
            const hour = parseInt(parts[0]);
            const min = parseInt(parts[1]);
            let date = new Date(day);
            date.setHours(hour);
            date.setMinutes(min);
            return date;
        }

        // Global variables
        let timeSlots = [] // list of {time: Date, timeSlot: DOM-element}
        let currentIndex = 0;
        let running = true;

        /** Mark time slot as active and scroll slot to the top of the view */
        function setActiveTimeSlot(index) {
            if (index + 1 < timeSlots.length) {
                console.log(timeSlots[index + 1]);
            }

            timeSlots[currentIndex].timeSlot.classList.remove("tv-now");
            currentIndex = index;
            timeSlots[currentIndex].timeSlot.classList.add("tv-now");

            let OFFSET = 125;
            let top = timeSlots[index].timeSlot.getBoundingClientRect().top + window.scrollY - OFFSET;
            let left = timeSlots[index].timeSlot.offsetLeft;
          
            timeSlots[index].timeSlot.parentElement.scroll(left, 0);
            scrollTo({top, behavior: "smooth"});

        }

        /** timeSlots: {time: Date, timeSlot: DOM-element} */
        function goToNow() {
            let current = 0;
            let next;
            let now = new Date()
            
            // add 10 minutes so we show the next program 10 minutes before
            now.setMinutes(now.getMinutes() + 10);

            // find where in the program we are right now
            for (let i=1; i < timeSlots.length; i++) {
                if (timeSlots[i].time > now) {
                    break;
                }
                current = i;
            }

            setActiveTimeSlot(current);
        }

        function tick() {
            if (running) {
                goToNow()
            }
        }

        function goToNext() {
            if (currentIndex + 1 < timeSlots.length) {
                setActiveTimeSlot(currentIndex + 1);
            }
        }

        function goToPrev() {
            if (currentIndex > 0) {
                setActiveTimeSlot(currentIndex - 1);
            }
        }

        /** Sort days to get Onsdag->Torsdag->Fredag */
        function sortDays() {
            const tvList = document.querySelector(".tv");
            const dayViews = document.querySelectorAll("[data-day]");
            const dayDict = {}
            const days = []
            for (let day of dayViews) {
                const time = parseDate(day.getAttribute("data-day"));
                dayDict[time] = day;
                days.push(time);
            }
            days.sort((a, b) => a - b);
            for (let day of days) {
                tvList.appendChild(dayDict[day]);
            }
        }

        document.addEventListener("DOMContentLoaded", function(event) {

            // sort days 
            sortDays();

            // For every day
            document.querySelectorAll("[data-day]").forEach(dayElem => {
                const date = parseDate(dayElem.getAttribute("data-day"));
                dayElem.querySelectorAll("[data-time]").forEach(timeSlot => {
                    let time = parseTime(timeSlot.getAttribute("data-time"), date);
                    timeSlots.push({time, timeSlot});
                });
            });

            goToNow();

            // Check if we should move to next time slot every 20 sek
            const timer = setInterval(tick, 20*1000);

            document.addEventListener("keydown", event => {
                if (event.code == "ArrowUp") {
                    goToPrev();
                    event.preventDefault()
                } else if (event.code == "ArrowDown") {
                    goToNext();
                    event.preventDefault()
                } else if (event.code == "KeyS") {
                    if (running) {
                        console.log("Automatic scrolling stopped");
                        running = false;
                    } else {
                        console.log("Automatic scrolling started");
                        running = true;
                        goToNow()
                    }
                }
            });

            // Refresh after a while, in case the program has been updated
            setTimeout(() => window.location.reload(true), 1000 * 60 * 10);
        });
    </script>

    <script src="{{ relURL "js/main.js" }}?{{ now.Unix }}"></script>
</html>
