<div class="period">
    <header>

            <time class="time">{{ .Params.Time }}</time>
            {{ if .Params.Location}}
                <span class="location">{{ .Params.Location }}</span>
            {{ end }}
                {{ if .Title }}
                <div class="talk common">
                {{ if .Content | len }}
                   <a href="{{ .Permalink }}">
                {{ end }}
                  <div class="description">
                       <h4>{{ .Title }}</h4>
                  </div>
                {{ if .Content | len }}
                </a>
                {{ end }}
                </div>
            {{ end }}

    </header>
    <div class="rooms{{ if gt (len .Pages) 3 }} grabbable{{end}}">
        {{ range .Pages }}
            {{ .Render "period-li" }}
        {{ end }}
    </div>
</div>
