<div class="period">
    <header>
        {{ if .Content | len }}
        <a href="{{ .Permalink }}">
        {{ end }}
            <time class="time">{{ .Params.Time }}</time>
            {{ if .Params.Location}}
                <span class="location">{{ .Params.Location }}</span>
            {{ end }}
            {{ if .Title }}
                <span>— {{ .Title }}</span>
            {{ end }}
        {{ if .Content | len }}
        </a>
        {{ end }}
    </header>
    <div class="rooms{{ if gt (len .Pages) 4 }} grabbable{{end}}">
        {{ range .Pages }}
            {{ .Render "period-li" }}
        {{ end }}
    </div>
</div>