<div class="period">
    <header>
        <time class="time">{{ .Params.Time }}</time>
        {{ if .Params.Location}}
        <span class="location">{{ .Params.Location }}</span>
        {{ end }}
        {{ if .Title }}
        <span>— {{ .Title }}</span>
        {{ end }}
    </header>
    
    <div class="rooms">
        {{ with .Content }}
        <div class="room">
            <div class="sessions">
                <div class="talk">
                    <div class="slot">
                        <div class="description">
                            {{ . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>