    <div class="program-header-join">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if $currentPage.HasMenuCurrent "main" . }}
                {{ if .Title }}
                <h1>{{- .Title -}}</h1>
                {{ end }}
                <ul>
                {{ if .HasChildren }}
                        {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                {{ end }}
                </ul>
            {{ end }}
        {{ end }}
    </div>
<article>
  <div class="program-wrapper">
    <button id="toggler" class="toggler" onClick="toggleHorizontal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-right"><path d="M8 3 4 7l4 4"/><path d="M4 7h16"/><path d="m16 21 4-4-4-4"/><path d="M20 17H4"/></svg>
      </button>
    <div id="program" class="program">
        <h2>{{ .Title }}</h2>

        {{ range .Pages }}
            {{ .Render "list" }}
        {{ end }}
    </div>
  </div>
  <script>
    function toggleHorizontal() {
      const up = document.getElementById("program").getAttribute("class").includes("horizontal");
      document.getElementById("program").setAttribute("class", up ? "program" : "program horizontal");
      document.getElementById("toggler").setAttribute("class", up ? "toggler" : "toggler toggled")
    }
    </script>
</article>
