<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="title" content="Booster Conference 2022">
    <meta name="description" content="Booster Conference, The Software Conference for the Whole Team">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://2022.boosterconf.no/">
    <meta property="og:title" content="Booster Conference 2022">
    <meta property="og:description" content="Booster Conference, The Software Conference for the Whole Team">
    <meta property="og:image" content="https://2022.boosterconf.no/images/workshops.jpg">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://2022.boosterconf.no/">
    <meta property="twitter:title" content="Booster Conference 2022">
    <meta property="twitter:description" content="Booster Conference, The Software Conference for the Whole Team">
    <meta property="twitter:image" content="https://2022.boosterconf.no/images/workshops.jpg">
    
    <link rel="stylesheet" href="/css/main.css?{{ now.Unix }}">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <body>
        {{- partial "header.html" . -}}
        <div id="content" role="main">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="/js/main.js?{{ now.Unix }}"></script>
</html>
