<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="title" content="Booster Conference 2026">
    <meta name="description" content="Booster Conference, The Software Conference for the Whole Team">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:title" content="Booster Conference 2026">
    <meta property="og:description" content="Booster Conference, The Software Conference for the Whole Team">

    {{ if eq .Params.talk_type "Keynote" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/experience_01.jpg">
    {{ end }}
    {{ if eq .Params.talk_type "Lightning Talk" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/lightning_02.jpg">
    {{ end }}
    {{ if eq .Params.talk_type "Experience Report" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/open_01.jpg">
    {{ end }}
    {{ if eq .Params.talk_type "Workshop 1,5h" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/workshop_01.jpg">
    {{ end }}
    {{ if eq .Params.talk_type "Workshop 3h" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/workshop_01.jpg">
    {{ end }}
    {{ if eq .Params.talk_type "Open Spaces" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/quirky_01.jpg">
    {{ end }}

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">
    <meta property="twitter:title" content="Booster Conference 2026">
    <meta property="twitter:description" content="Booster Conference, The Software Conference for the Whole Team">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}images/workshops.jpg">
    
    <link rel="stylesheet" href="{{ relURL "css/main.css" }}?{{ now.Unix }}">
    <link href="{{ relURL "css/fontawesome/css/all.css" }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ relURL "images/favicon.ico" }}" type="image/x-icon">
    <body>
        {{- partial "header.html" . -}}
        <div id="content" role="main">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>

    <script src="{{ relURL "js/main.js" }}?{{ now.Unix }}"></script>
</html>
