  {{ define "main" }}
  <div class="rocket">
    <div class="middle-of-image">
      <h1>THE SOFTWARE CONFERENCE<br>FOR THE WHOLE TEAM</h1>
      <div class="dates-location">
        <span class="font-page-conference-dates">March 13-15 2019</span>
        <span class="front-page-location">Bergen, Norway<br>Venue: Scandic Bergen City </span>
      </div>
    </div>


    <div class="bottom-image">
      <img class="img-superfluid" src="https://2019.boosterconf.no/images/figures.png">
    </div>

  </div>
{{end}}