{{ define "main" }}
<div class="rocket">
    <div class="middle-of-image">
        <div class="dates-location">
            <span class="font-page-conference-dates">March 11-13 2026</span>
            <span class="front-page-slogan">The Software Conference For The Whole Team</span>
        </div>
    </div>
</div>


<div class="front-image">
    {{ $frontImage := resources.Get "images/Forside.jpg" }}
    {{ $frontImage := $frontImage.Resize "3000x" }}
    {{ with $frontImage }}
        <img src="{{ $frontImage.RelPermalink }}" alt="the conference venue seen from the main stage">
    {{ end }}

    <div class="call-to-action-wrapper">
      <div class="call-to-action-group">
        {{ with .Site.GetPage "/info/cfp" }}
          <div class="call-to-action">
            <a href="{{ .RelPermalink }}" class="call-to-action__link">
              Submit
            </a>
          </div>
        {{ end }}

        {{ if .Site.GetPage "/info/about" }}
          {{ with .Site.GetPage "/info/about" }}
            {{ if .Param "open_for_volunteers" }}
              <div class="call-to-action">
                <a href="{{ .Params.volunteer_form_link }}" target="_blank" class="call-to-action__link">
                  Want to volunteer?
                </a>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}

        {{ if .Site.GetPage "/info/tickets" }}
          {{ with .Site.GetPage "/info/tickets" }}
            {{ if .Param "ticket_sale_open" }}
              <div class="call-to-action">
                <a href="{{ .RelPermalink }}" class="call-to-action__link">
                  {{ if .Param "sold_out" }}
                    Sold out?
                  {{ else }}
                    Tickets
                  {{ end }}
                </a>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
</div>
{{end}}
