<a class="talk" href="{{ .RelPermalink }}">
    <div class="slot">
        {{ with .Param "talk_type" }}
        <div class="talk-type">{{ . }}</div>
        {{ end }}
        <div></div>
        <div class="description">
            <h4>{{.Title | markdownify }}


                {{ $files := .Page.Resources }}
            
                {{ if $files }}
                <i class="fa fa-sticky-note" title="Talk has files available"></i>
                {{ end }}

                {{ if .Param "recording_url" }}
                <i class="fa fa-film"></i>
                {{ end }}
            </h4>
            {{ range .Param "authors" }}
            <span class="author">{{.}}</span><br />
            {{ end }}
        </div>
    </div>
</a>