{{ define "main" }}
<article class="inner">
  
    <div class="header-join">
      <h1>{{ .Title }}</h1>
    </div>

    {{ range .Params.authors  }}
        {{ range ( where $.Site.Pages "Params.name" . ) }}
          {{ if .Params.external_profile }}
            <h4><a href="{{ .Params.external_profile }}">{{ .Params.name }}</a></h4>
          {{ else }}
            <h4><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></h4>
          {{ end }}
        {{ end }}
    {{ end }}

    <p>
        <span class="muted">{{ .Params.talk_type }}</span>
        {{ if .Param "time_slot" }}
        &mdash;
        <span class="muted">{{ .Param "time_slot" }}</span>
        {{ end }}
        {{ if .Param "room" }}
        &mdash;
        <span class="muted">{{ .Param "room" }}</span>
        {{ end }}
    </p>

    <p>
    {{ $files := .Page.Resources }}
    {{ if $files }}
    {{ range $files  }}
      <a href="{{ .RelPermalink }}"><i class="fa fa-sticky-note" title="{{ .Title }}"></i> {{ .Title }}</a>
    {{ end }}
    {{ end }}
    </p>
  
    <div class="description">
          {{ .Content }}
    </div>
  
  
  </article>
  {{end}}