{{ define "main" }}
<article class="inner">
  
    <div class="header-join">
      <h1>{{ .Title }}</h1>
    </div>

    {{ range .Params.authors  }}
        {{ range ( where $.Site.Pages "Params.name" . ) }}
          {{ if .Params.external_profile }}
            <h4><a href="{{ .Params.external_profile }}">{{ .Params.name }}</a></h4>
          {{ else }}
            <h4><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></h4>
          {{ end }}
        {{ end }}
    {{ end }}
    
    <p class="muted">{{ .Params.talk_type }}</p>
  
  
    <div class="description">
          {{ .Content }}
    </div>
  
  
  </article>
  {{end}}